<section class="legend-container">
  <div class="legend-mask">
    <h4>Máscara</h4>
    <div class="rules-container">
      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/required-mask.png"
          alt="Uso obrigatório de máscara"
        />
        <p class="rules-legend">Obrigatório</p>
      </div>

      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/recommended-mask.png"
          alt="Uso recomendado de máscara"
        />
        <p class="rules-legend">Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-towel">
    <h4>Toalha</h4>
    <div class="rules-container">
      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/required-towel.png"
          alt="Uso obrigatório de toalha"
        />
        <p class="rules-legend">Obrigatório</p>
      </div>

      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/recommended-towel.png"
          alt="Uso recomendado de toalha"
        />
        <p class="rules-legend">Recomendado</p>
      </div>
    </div>
  </div>

  <div class="legend-fountain">
    <h4>Bebedouro</h4>
    <div class="rules-container">
      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/partial-fountain.png"
          alt="Uso parcial de bebedouro"
        />
        <p class="rules-legend">Parcial</p>
      </div>

      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/forbidden-fountain.png"
          alt="Uso proibido de bebedouro"
        />
        <p class="rules-legend">Proibido</p>
      </div>
    </div>
  </div>

  <div class="legend-lockerroom">
    <h4>Vestiários</h4>
    <div class="rules-container">
      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/required-lockerroom.png"
          alt="Uso liberado de vestiário"
        />
        <p class="rules-legend">Liberado</p>
      </div>

      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/partial-lockerroom.png"
          alt="Uso parcial de vestiário"
        />
        <p class="rules-legend">Parcial</p>
      </div>

      <div class="rules-card">
        <img
          class="rules-img"
          src="/assets/images/forbidden-lockerroom.png"
          alt="Uso proibido de vestiário"
        />
        <p class="rules-legend">Fechado</p>
      </div>
    </div>
  </div>
</section>
