.card-unit {
  background-color: var(--light-text);
  box-shadow: 1px 2px 1px 1px var(--light-grey);
  border-radius: 6px;
  padding: 1rem;
  height: 520px;
  width: 375px;

  .card-header {
    .status {
      font-weight: 700;
    }

    .status-open {
      color: var(--green);
    }

    .status-closed {
      color: var(--red);
    }

    .unit-name {
      color: var(--dark-grey);
      margin-top: 1rem;
    }

    .unit-address {
      color: var(--medium-text);
      margin: 1.2rem 0;
    }
  }

  .card-main {
    margin-top: 1.2rem;

    .rules {
      .rules-img {
        width: 85px;
      }
    }

    .operating-days {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .days {
        margin-top: 1rem;

        h3 {
          color: var(--dark-grey);
          font-size: 1.4rem;
        }

        p {
          color: var(--medium-text);
          margin-top: 0.4rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .card-unit {
    height: 480px;
    width: 310px;
    .rules-img {
      width: 65px !important;
    }
  }
}
