<div class="card-unit">
  <div class="card-header">
    <p
      class="status"
      [ngClass]="location.opened ? 'status-open' : 'status-closed'"
    >
      {{ location.opened ? "Aberto" : "Fechado" }}
    </p>

    <h2 class="unit-name">{{ location.title }}</h2>

    <p class="unit-address" id="location-address">
      {{ innerHTML(location.content) }}
    </p>

    <hr />
  </div>

  <div *ngIf="location?.opened" class="card-main">
    <div class="rules">
      <img
        class="rules-img"
        [src]="'/assets/images/' + location.mask + '-mask.png'"
        alt="Uso de máscara"
      />
      <img
        class="rules-img"
        [src]="'/assets/images/' + location.towel + '-towel.png'"
        alt="Uso de toalha"
      />
      <img
        class="rules-img"
        [src]="'/assets/images/' + location.fountain + '-fountain.png'"
        alt="Uso proibido de bebedouro"
      />
      <img
        class="rules-img"
        [src]="'/assets/images/' + location.locker_room + '-lockerroom.png'"
        alt="Uso liberado de vestiário"
      />
    </div>

    <div class="operating-days">
      <div class="days" *ngFor="let s of location.schedules">
        <h3>{{ s.weekdays }}</h3>
        <p>{{ s.hour }}</p>
      </div>
    </div>
  </div>
</div>
