<section class="form-container margin-default">
  <div class="hours-title">
    <img src="/assets/images/icon-hour.png" alt="" />
    <p>Horário</p>
  </div>

  <form [formGroup]="formWorkouts">
    <p class="form-title">Qual período quer treinar?</p>

    <div class="hours-container">
      <div class="input-container">
        <input
          formControlName="period"
          class="input-period"
          type="radio"
          name="period"
          id="morning-training"
          value="06:00 às 12:00"
        />
        <label class="label-container" for="morning-training">
          <span class="label-period">Manhã</span>
          <span class="label-hours">06:00 às 12:00</span>
        </label>
      </div>

      <div class="input-container">
        <input
          formControlName="period"
          class="input-period"
          type="radio"
          name="period"
          id="afternoon-training"
          value="12:01 às 18:00"
        />
        <label class="label-container" for="afternoon-training">
          <span class="label-period">Tarde</span>
          <span class="label-hours">12:01 às 18:00</span>
        </label>
      </div>

      <div class="input-container">
        <input
          formControlName="period"
          class="input-period"
          type="radio"
          name="period"
          id="nigth-training"
          value="18:01 às 23:00"
        />
        <label class="label-container" for="nigth-training">
          <span class="label-period">Noite</span>
          <span class="label-hours">18:01 às 23:00</span>
        </label>
      </div>
    </div>

    <div class="extra-data-container">
      <div class="show-closed-units">
        <input
          formControlName="closedUnits"
          class="input-filter"
          type="checkbox"
          name="closed-units"
          id="closed-units"
        />
        <label for="closed-units"> Exibir unidades fechadas</label>
      </div>

      <div class="result-count-container">
        <span> Resultados encontrados: </span>
        <span class="result-count"> {{ countUnits }} </span>
      </div>
    </div>

    <div class="btns-conatiner">
      <button class="btn-search" (click)="searchGyms()">
        Encontrar unidade
      </button>

      <button class="btn-clear" (click)="clearForm()">Limpar</button>
    </div>
  </form>
</section>
