.btn-basic {
  height: 3rem;
  width: 18rem;
  text-transform: uppercase;
  color: var(--dark);
  font-weight: 700;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 6px;
  word-wrap: break-word;
  cursor: pointer;
}

.form-container {
  border: 3px solid var(--light-text);
  border-radius: 6px;
  padding: 1.4rem;
  color: var(--light-grey);
  box-shadow: 0 2px 0 2px var(--light-text);

  .hours-title {
    display: flex;
    align-items: center;

    img {
      width: 2rem;
    }

    p {
      margin-left: 0.6rem;
    }
  }

  .form-title {
    padding: 2rem 0 1rem 1rem;
    font-size: 2rem;
    font-weight: 100;
    border-bottom: 3px solid var(--light-text);
  }

  .hours-container {
    .input-container {
      display: flex;
      border-bottom: 1px solid var(--light-text);
      margin-top: 1rem;
      padding-bottom: 0.8rem;

      .input-period {
        margin-right: 0.4rem;
        width: 20px;
        height: 23px;
        vertical-align: middle;
      }
    }

    .label-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      cursor: pointer;

      .label-period {
        font-size: 1.2rem;
      }

      .label-hours {
        font-size: 1.2rem;
      }
    }
  }

  .extra-data-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;

    .show-closed-units {
      input {
        width: 20px;
        height: 20px;
        vertical-align: text-top;
      }

      input,
      label {
        cursor: pointer;
      }
    }

    label,
    span {
      font-size: 1.2rem;
    }

    .result-count {
      color: var(--dark);
      font-weight: 700;
    }
  }

  .btns-conatiner {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .btn-search {
      @extend .btn-basic;
      border: none;
      background-color: var(--yellow);
    }

    .btn-clear {
      @extend .btn-basic;
      border-color: var(--light-grey);
      background-color: transparent;
      box-shadow: none;
      outline: none;
    }
  }
}

@media screen and (max-width: 425px) {
  .extra-data-container {
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;

    label,
    span {
      font-size: 1.1rem !important;
    }
  }

  .btns-conatiner {
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
  }

  .btn-basic {
    width: 16rem;
    font-size: 1rem !important;
  }
}
